<nav class="qa-nav-main">
  <ul id="nav-ul">
      <li id="nav-li"><a href="/">Home</a></li>
      <li id="nav-li"><a href="/chat">Chat</a></li>
      <li id="right-handle"><a href="/login">Login/Register</a></li>
    </ul>
</nav>
