* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 50%; right: 0; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { width: 25%; list-style-type: none; margin: 0; padding: 0; position: fixed; bottom: 3.5%; right: 0; border: 2px solid #000;}
#messages li { padding: 5px 10px;}
#messages li p {color:red; }
#messages li:nth-child(odd) { background: #eee; }

/*----------------Navigation------------------------*/
nav#qa-nav-main{
	color: white;
}

ul#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li#right-handle{
  float: right;
}

li#right-handle a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li#right-handle a:hover{
  background-color: #111;
}

li#nav-li {
    float: left;
}

li#nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li#nav-li a:hover {
    background-color: #111;
}
